@model ProjetFinal_6224745.Models.Mouvement

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Mouvement</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Difficulte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Difficulte)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valeur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valeur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Agre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Agre.AgreId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MouvementId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
