@model IEnumerable<ProjetFinal_6224745.Models.Mouvement>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>List des mouvements</h1>

<p>
    <a asp-controller="Agres" asp-action="Index">Retour à l'accueuil</a>
</p>
<form asp-controller="Mouvements" asp-action="FiltrageMouvements" method="get">
    <label for="agre">Nom de l'agrès :</label>
    <select name="agre" id="agresID" required>
        <option value="">-- Sélectionnez --</option>
        <option value="sol">Sol</option>
        <option value="cheval d’arçons">Cheval d’arçons</option>
        <option value="anneaux">Anneaux</option>
        <option value="saut de cheval">Saut de cheval</option>
        <option value="barres_paralleles">Barres Parallèles</option>
        <option value="barre_fixe">Barre fixe</option>
    </select>

    <label for="difficulte">Difficulté :</label>
    <input type="text" id="difficulte" name="difficulte" placeholder="Ex : A, B, C, etc." required>

    <input type="submit" value="Ajouter">
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Difficulte)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valeur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Agre.Nom)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Difficulte)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valeur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Agre.Nom)
            </td>
        </tr>
}
    </tbody>
</table>
